entrypoint = "server.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "server.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Start ZebGPT"
mode = "sequential"
author = 47194801

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
